/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dd,
p,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with list-style: none */
ul,
ol {
  list-style: none;
}

/* Set default font size and family */
body { font-size: 1rem; }

/* Remove text decoration on links */
a { text-decoration: none; }

/* Set default display to block for structural elements */
main,
article,
section,
nav,
aside,
header,
footer {
  display: block;
}
